#content {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    word-wrap: break-word;
    width: 500px;
    font-family: "Comic Sans MS", serif;
}

.form-login {
    padding-left: 100px;
    padding-right: 100px;
}