#content {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    word-wrap: break-word;
    width: 500px;
    font-family: "Comic Sans MS", serif;
}

.form-login {
    padding-left: 100px;
    padding-right: 100px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
.input-file input[readonly] {
    background-color: white !important;
    cursor: text !important;
}
